{#{% extends “admin/change_form.html” %}#}
{% extends "admin/change_list.html" %}
{% load i18n %}
{% block object-tools %}
{#<h1>Hey!</h1>#}
    <script type="text/javascript" charset=“utf-8”>
                (function($) { $(document).ready(function() {
                                        $(".paginator").after('<div class="submit-row"><input type="submit" value="Печать" formaction="csv/" style="float: right"></div>');
                });
                })(django.jQuery);
        </script>
{#    <input type="button" value="Some" style="float: right">#}
{#    {{ some_var }}#}
{% endblock %}