{#{% extends “admin/change_form.html” %}#}
{% extends "admin/change_list.html" %}
{% load i18n %}
{% block object-tools %}
    {{ block.super }}
    <script type="text/javascript" charset=“utf-8”>
                (function($) { $(document).ready(function() {
                    $(".paginator").after('<div class="submit-row"><input type="submit" ' +
                                                'value="Печать" formaction="csv/" style="display: inline-block; float: right; vertical-align: middle; margin-top: 1.2%"></div>');
                    $('.field-id_еденицы_техники').css({'white-space': 'normal'});
                });
                })(django.jQuery);

        </script>
{% endblock %}